@model InstaSport.Web.Areas.Administration.Models.AdminLocationViewModel

@{
    var selectedListCities = ((IEnumerable<InstaSport.Web.Areas.Administration.Models.AdminCityViewModel>)ViewData["cities"]).Select(u => new SelectListItem() { Text = u.Name, Value = u.Id.ToString() });
}

@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.CityId, "Cities", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.CityId, selectedListCities, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>