@model InstaSport.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>InstaSport</h1>
    <p>Play. Now.</p>
</div>

<div class="row text-center">
    <h2>Choose from more than:</h2>
    <div class="col-md-4">
        <h3>@Model.Sports</h3>
        @Html.ActionLink("Sports", "Index", "Sports")
    </div>
    <div class="col-md-4">
        <h3>@Model.Locations</h3> 
        @Html.ActionLink("Locations", "Index", "Locations")
    </div>
    <div class="col-md-4">
        <h3>@Model.Games</h3>
        @Html.ActionLink("Games", "Index", "Games")
    </div>
</div>