@model InstaSport.Web.Areas.Administration.Models.AdminGameViewModel

@{
    var selectedListLocations = ((IEnumerable<InstaSport.Web.Areas.Administration.Models.AdminLocationViewModel>)ViewData["locations"]).Select(u => new SelectListItem() { Text = u.Name, Value = u.Id.ToString() });
}

@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.LocationId, "Locations", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.LocationId, selectedListLocations, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MinPlayers, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.MinPlayers, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MaxPlayers, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.MaxPlayers, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StartingDateTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.StartingDateTime, new { @class = "form-control" })
    </div>
</div>
